<div id="<%= dom_id marca %>">
  <p>
    <strong>Referencia fipe:</strong>
    <%= marca.referencia_fipe_id %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= marca.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= marca.nome %>
  </p>

  <p>
    <strong>Tipo veiculo:</strong>
    <%= marca.tipo_veiculo %>
  </p>

</div>
