<div id="<%= dom_id modelo %>">
  <p>
    <strong>Marca:</strong>
    <%= modelo.marca_id %>
  </p>

  <p>
    <strong>Referencia fipe:</strong>
    <%= modelo.referencia_fipe_id %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= modelo.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= modelo.nome %>
  </p>

</div>
