<%= form_with(model: referencia_fipe) do |form| %>
  <% if referencia_fipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(referencia_fipe.errors.count, "error") %> prohibited this referencia_fipe from being saved:</h2>

      <ul>
        <% referencia_fipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :codigo, style: "display: block" %>
    <%= form.number_field :codigo %>
  </div>

  <div>
    <%= form.label :mes, style: "display: block" %>
    <%= form.text_field :mes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
