<p style="color: green"><%= notice %></p>

<%= render @referencia_fipe %>

<div>
  <%= link_to "Edit this referencia fipe", edit_referencia_fipe_path(@referencia_fipe) %> |
  <%= link_to "Back to referencia fipes", referencia_fipes_path %>

  <%= button_to "Destroy this referencia fipe", @referencia_fipe, method: :delete %>
</div>
