<div id="<%= dom_id ano_modelo %>">
  <p>
    <strong>Modelo:</strong>
    <%= ano_modelo.modelo_id %>
  </p>

  <p>
    <strong>Referencia fipe:</strong>
    <%= ano_modelo.referencia_fipe_id %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= ano_modelo.codigo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= ano_modelo.nome %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= ano_modelo.ano %>
  </p>

  <p>
    <strong>Combustivel:</strong>
    <%= ano_modelo.combustivel %>
  </p>

  <p>
    <strong>Combustivel sigla:</strong>
    <%= ano_modelo.combustivel_sigla %>
  </p>

</div>
