<%= form_with(model: preco_veiculo) do |form| %>
  <% if preco_veiculo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(preco_veiculo.errors.count, "error") %> prohibited this preco_veiculo from being saved:</h2>

      <ul>
        <% preco_veiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ano_modelo_id, style: "display: block" %>
    <%= form.text_field :ano_modelo_id %>
  </div>

  <div>
    <%= form.label :referencia_fipe_id, style: "display: block" %>
    <%= form.text_field :referencia_fipe_id %>
  </div>

  <div>
    <%= form.label :codigo_fipe, style: "display: block" %>
    <%= form.text_field :codigo_fipe %>
  </div>

  <div>
    <%= form.label :ano_modelo_valor_centavos, style: "display: block" %>
    <%= form.number_field :ano_modelo_valor_centavos %>
  </div>

  <div>
    <%= form.label :moeda, style: "display: block" %>
    <%= form.text_field :moeda %>
  </div>

  <div>
    <%= form.label :mes_referencia, style: "display: block" %>
    <%= form.text_field :mes_referencia %>
  </div>

  <div>
    <%= form.label :tipo_veiculo, style: "display: block" %>
    <%= form.number_field :tipo_veiculo %>
  </div>

  <div>
    <%= form.label :bruto, style: "display: block" %>
    <%= form.text_field :bruto %>
  </div>

  <div>
    <%= form.label :atualizado_em, style: "display: block" %>
    <%= form.datetime_field :atualizado_em %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
