<div id="<%= dom_id preco_veiculo %>">
  <p>
    <strong>Ano modelo:</strong>
    <%= preco_veiculo.ano_modelo_id %>
  </p>

  <p>
    <strong>Referencia fipe:</strong>
    <%= preco_veiculo.referencia_fipe_id %>
  </p>

  <p>
    <strong>Codigo fipe:</strong>
    <%= preco_veiculo.codigo_fipe %>
  </p>

  <p>
    <strong>Ano modelo valor centavos:</strong>
    <%= preco_veiculo.ano_modelo_valor_centavos %>
  </p>

  <p>
    <strong>Moeda:</strong>
    <%= preco_veiculo.moeda %>
  </p>

  <p>
    <strong>Mes referencia:</strong>
    <%= preco_veiculo.mes_referencia %>
  </p>

  <p>
    <strong>Tipo veiculo:</strong>
    <%= preco_veiculo.tipo_veiculo %>
  </p>

  <p>
    <strong>Bruto:</strong>
    <%= preco_veiculo.bruto %>
  </p>

  <p>
    <strong>Atualizado em:</strong>
    <%= preco_veiculo.atualizado_em %>
  </p>

</div>
